@import "../fonts/fonts.scss";

$button-color-purple: #6f36f5;

:root {
  font-family: "Geist", sans-serif;
}

::selection {
  background-color: $button-color-purple;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
