.normal_button {
  @extend .btn;

  background-color: $button-color-purple;
  color: white;

  font-weight: 800;
  letter-spacing: 1px;
  font-size: clamp(1rem, 3vw, 1.2rem);

  padding: 1rem 1.5rem !important;
}

@media screen and (max-width: 500px) {
  .normal_button {
    padding: 0.8rem 1rem !important;
  }
}
